{
  "description": "An NFT from the head stash (PURP)"
  "image": "ipfs://$IPFS_CID",
  "external_url": "https://purpswap.eth.limo",
  "name": "KUSH ($TOKEN_ID)",
  "attributes": [],
  "background_color": "FFFFFF"
} 
